# Docker images name
POD_NAME=
# Production license for @nuxt/ui-pro, get one at https://ui.nuxt.com/pro/purchase
NUXT_UI_PRO_LICENSE=
# Public URL, used for OG Image when running nuxt generate
NUXT_PUBLIC_SITE_URL=

# LibSQL Configuration
# The URL for connecting to the LibSQL database. Default is a local SQLite file.
NUXT_LIBSQL_URL=file:server/database/data.db

# The authentication token for accessing the LibSQL database.
NUXT_LIBSQL_AUTH_TOKEN=
